<html>
    <head>
        <title>Colleen's Low Carb Lifestyle</title>
    </head>
    <body>
        <h1>Colleen's Low Carb Lifestyle</h1>
        <h2>About Me</h2>
            <p>I was diagnosed with diabetes when I was 9. I've struggled to control my blood sugar levels, which are extremely unpredictable, my entire life. I don't know why it took me so long to realize how beneficial, and truely crucial, a low carb diet is to my overall health.</p>
            <p>Cooking has always been a passion of mine. I remember watching Food Network as a youngin, and being excited to get home from school to see what the chefs had to teach me. Food doesn't have to just be life sustaining, it can be truely overwhelming and inspiring! I'm learning recipes every day, so come along with me on the journey to a healthy and delicious life!</p>
        <h2>Blog Posts</h2>
        <h2>Helpful Keto Resources</h2>
    </body>
</html>
